.container {
    padding: 4rem;
    background: #0b0b0b;
    min-height: 100vh;
    color: white;
}

.container h1 {
    margin-bottom: 2rem;
    border-left: 5px solid #e50914;
    padding-left: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
}

.msg {
    color: white;
    text-align: center;
    margin-top: 100px;
    font-size: 1.5rem;
}