:root {
  color-scheme: dark; /* Esto le dice al navegador que el sitio es oscuro */
}

body {
  margin: 0;
  padding: 0;
  background-color: #0b0b0b; /* Fondo negro profundo */
  color: white;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
}


input, button, select, textarea {
  background: none;
  color: inherit;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}